*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#countdown-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  row-gap: 16px;
}


#countdown-form > div {
  width: 100%;
  display: flex;
  gap: 16px;
}

#countdown-form > div > input {
  flex: 1;
  height: 50px;
  font-size: 1.2rem;
}

#countdown-form > button {
  height: 50px;
  font-size: 1.2rem;
  width: 100%;
}

#countdown-display {
  font-size: 12rem;
  display: none;
}